<html>
    
<head>
</head>

<body>
    <form method="POST" action="/addproduct">
        <div class="form-row">
            <div class="form-group col-5">
                <label for="productName">Product name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Product name">
            </div>
            <div class="form-group col">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="Price [KN]">
            </div>
            <div class="form-group col">
                <label for="percentage">Percentage</label>
                <input type="text" class="form-control" id="percentage" name="percentage"
                    placeholder="Percentage of cocoa">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <label for="producer">Select producer</label>
                <select class="form-control" id="producer" name="producer">
                    <% allProducers.forEach(p =>{ %>
                    <option value="<%=p.name %>"><%=p.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Select type</label>
                <select class="form-control" id="type" name="type">
                    <option value="Milk">Milk</option>
                    <option value="Dark">Dark</option>
                    <option value="White">White</option>
                    <option value="Rose">Rose</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight [grams]">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</body>

</html>